<!-- The content below is only a placeholder and can be replaced. -->

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th><a [routerLink]="['/']">Home</a></th>
        <th><a [routerLink]="['/hello']">Hello</a></th>
        <th><a [routerLink]="['/topic']">Topic</a></th>
        <th><a [routerLink]="['/contact']">Contact</a></th>
      </tr>
    </thead>
    
  </table>
</div>


<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
  <router-outlet></router-outlet>
</div>
